* {
    margin: 0;
    padding: 0;
  }


.conteiner-login
{
  width: 414px;
  height: 100%;
}
  
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.login
{
    font-size: 50px;
}

.item__login {
    width: 50vw;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
.item 
{
  align-items: center;
  color: #5F5F5F;

}